@model SignInInput
@{
    ViewData["Title"] = "SignIn";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Üye giriş</h5>
                <div asp-validation-summary="ModelOnly"></div>
                <form asp-controller="Auth" asp-action="SignIn" method="post">
                    <div class="mb-3">
                        <label asp-for="Email" for="inputEmail" class="form-label"></label>
                        <input type="email" asp-for="Email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" for="inputPassword" class="form-label"></label>
                        <input type="password" asp-for="Password" class="form-control" id="inputPassword">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" asp-for="IsRemember" class="form-check-input" id="checkRememberMe">
                        <label class="form-check-label" asp-for="IsRemember" for="checkRememberMe">Beni Hatırla</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </form>
            </div>
        </div>
    </div>
</div>